<%= form_with(model: listing) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Title %>
    <%= form.text_field :Title, required: true %>
  </div>

  <div class="field">
    <%= form.label :Category %>
    <%= form.collection_select :category_id, Category.all, :id, :name, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :Cena_v_€ %>
    <%= form.number_field :Price, required: true %>
  </div>

  <div class="field">
    <%= form.label :Listing_Type %>
    <%= form.select :Listing_Type, [['Vrsta ponudbe', nil, {:disabled => true}], 'Prodam', 'Kupim', 'Podarim'], required: true %>
  </div>

  <div class="field">
    <%= form.label :Description %>
    <%= form.text_area :Description, required: true %>
  </div>

  <div class="field">
    <%= form.label :Status %>
    <%= form.select :Status, [['Vrsta ponudbe', nil, {:disabled => true}], 'Novo', 'Rabljeno'], required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
