<h1>Vsi Oglasi</h1>

<table style="width:1296px;">
  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td>
        <div class="blog-card">
          <div class="meta">
            <% if listing.image.present?  %>
              <% image_url = (url_for(listing.image)) %>
            <% else %>
              <% image_url = "https://st4.depositphotos.com/14953852/24787/v/600/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg  " %>
            <% end %>
            <div class="photo" style="background-image: url(<%= image_url %>)"></div>
            <ul class="details">
              <li class="author"><%= listing.user.username || 'Anonimen prodajalec' %></li>
              <li class="date"><%= listing.created_at %></li>
              <li class="city"><%= listing.user.city %></li>
              <li class="listing"><%= listing.listing_type %></li>
              <li class="status"><%= listing.status %></li>
              <li class="tags">
                <ul>
                  <li><%= listing.category.name || 'Brez kategorije' %></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="description">
            <h1><%= listing.title %></h1>
            <h2><%= listing.price %>€</h2>
            <p> <%= listing.description %></p>
            <p class="read-more">
              <%= display_listing_links(listing) %>
            </p>
          </div>
        </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
