<p>
  <strong>Naslov oglasa</strong>
  <%= @listing.title %>
</p>
<% if @listing.image.present?  %>
<p>
  <img src="<%= (url_for(@listing.image)) %>">
</p>
<% end %>
<p>
  <strong>Cena</strong>
  <%= @listing.price %>€
</p>

<p>
  <strong>Vrsta ponudbe</strong>
  <%= @listing.listing_type %>
</p>

<p>
  <strong>Opis</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Stanje izdelka</strong>
  <%= @listing.status %>
</p>

<p>
  <strong>Prodajalec</strong>
  <%= @listing.user.username || 'Anonimen prodajalec' %>
</p>

<p>
  <strong>Kategorija</strong>
  <%= @listing.category.name || 'Brez kategorije' %>
</p>
<p>
  <h3>Lokacija oglasa</h3>
    <strong>Država</strong>
    <%= @listing.user.country %>
    <strong>Kraj</strong>
    <%= @listing.user.city %>
</p>

<%= display_message_seller %>
<%= display_listing_show_links(@listing) %>