
<div class="card">
  <div class="card__title">
    <div class="icon">
    <%= link_to '<i class="fa fa-arrow-left"></i>'.html_safe, listings_path %>
    </div>
  </div>
  <div class="card__body">
    <div class="half">
      <div class="featured_text">
        <h1><%= @listing.title %></h1>
        <p class="sub"><%= @listing.category.name || 'Brez kategorije' %></p>
        <p class="price"><%= @listing.price %> €</p>
      </div>
      <div class="image">
        <% if @listing.image.present?  %>
          <p>
            <img src="<%= (url_for(@listing.image)) %>" style="width: 400px;height: 400px;" />
          </p>
          <% else %>
          <p>
            <img src="https://st4.depositphotos.com/14953852/24787/v/600/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg" style="width: 400px;
              height: 400px;"/>
          </p>
        <% end %>
      </div>
    </div>
    <div class="half">
      <div class="description">
        <p>Opis:</p>
        <p> <%= @listing.description %></p>
      </div>
      <span class="stock"><i class="fa fa-pen"></i><%= @listing.listing_type %></span><br />
      <span class="stock"><i class="fa fa-pen"></i><%= @listing.status %></span><br />
      <span class="stock"><i class="date"></i><%= @listing.created_at.strftime(' %d %b %Y %H:%M:%S')  %></span><br />
      <div style="margin-top: 350px">
      <span>Država: <%= @listing.user.country %></span><br />
      <span>Kraj: <%= @listing.user.city %></span><br />
      <% if @listing.user.tel_number.present?  %>
        <span>Telefonska številka prodajalca: <%= @listing.user.tel_number %></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card__footer">
    <div class="recommend">
      <p>Prodajalec:</p>
      <h3> <%= @listing.user.username || 'Anonimen prodajalec' %></h3>
    </div>
    <% if current_user == @listing.user %>
      <div class="action">
        <button type="button">
          <p>Nemorete napisati sporočilo sebi!</p>
        </button>
    <% else %>
      <% if current_user.present? %>
        <div class="action">
        <button type="button">
          <%= link_to 'Napišite sporočilo', conversations_path(sender_id: current_user.id, receiver_id: @listing.user.id), method: :post, style: 'color:black;text-decoration: none;' %>
        </button>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
