<p>
  <strong>Naslov oglasa</strong>
  <%= @listing.Title %>
</p>

<p>
  <strong>Cena</strong>
  <%= @listing.Price %>€
</p>

<p>
  <strong>Vrsta ponudbe</strong>
  <%= @listing.Listing_Type %>
</p>

<p>
  <strong>Opis</strong>
  <%= @listing.Description %>
</p>

<p>
  <strong>Stanje izdelka</strong>
  <%= @listing.Status %>
</p>

<p>
  <strong>Prodajalec</strong>
  <%= @listing.user.email %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
