<!DOCTYPE html>
<html>
  <head>
    <title>Sejem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'countries' %>
  </head>

  <body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= link_to image_pack_tag('logo.png', class: 'navbar-brand mt-2 mt-lg-0 ', style: 'max-height: 90px;'), root_path %>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
        <%= link_to "Vsi oglasi", listings_path, class: 'nav-link' %>
            </li>
            <li>
              <form class="d-flex" action="/search"> <input class="form-control mr-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Iskanje</button> </form>
            </li>
          </ul>
          <div class="d-flex align-items-center">
          <%= display_navbar_session_links %>
          </div>
        </div>
      </div>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  </div>
  </body>
</html>
