<!DOCTYPE html>
<html>
  <head>
    <title>Sejem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'countries' %>
  </head>

  <body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <%= link_to image_pack_tag('logo.png', class: 'navbar-brand', style: 'max-height: 90px;'), root_path %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "Vsi oglasi", listings_path, class: 'nav-link' %>
            </li>
            <%= display_navbar_session_links %>
          <li class="d-flex align-items-right">
            <form class="d-flex align-items-right" action="/search"> <input class="form-control mr-2" type="search" name="q" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Iskanje</button> </form>
          </li>
        </ul>
        </div>
    </nav>
    <% if flash[:notice] %>
      <p class="alert alert-success" role="alert"  style="margin-top: 25px;"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert alert-danger" role="alert" style="margin-top: 25px;"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>