<!DOCTYPE html>
<html>
  <head>
    <title>Sejem</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'countries' %>
  </head>

  <body style="margin: 0px;">
    <div class="topnav" id="myTopnav">
          <%= link_to image_pack_tag('logo.png', style: 'max-height: 53.5px'), root_path, style: ';padding:0px !important;' %>
              <%= link_to "Vsi oglasi", listings_path, class: 'nav-link' %>
            <%= display_navbar_session_links %>
            <form class="d-flex align-items-right" action="/search", style="padding: 7px 16px;"> <input type="search" name="q" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Iskanje</button> </form>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
    </div>
    <script type="text/javascript">
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
    <div class="container" style="min-height: calc(100vh - 311px);">
    <% if flash[:notice] %>
      <p class="alert alert-success" role="alert"  style="margin-top: 25px;"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
      <p class="alert alert-danger" role="alert" style="margin-top: 25px;"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
  </body>
  <footer id="footer" class="footer-1" style="margin-top: 100px;">
    <div class="main-footer widgets-dark typo-light">
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget subscribe no-box">
              <h5 class="widget-title">Sejem<span></span></h5>
              <p>Projekt za predmet RPA.</p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h5 class="widget-title">Hitri povezave<span></span></h5>
              <ul class="thumbnail-widget">
                <li>
                  <div class="thumb-content"><a href="/listings">Vsi oglasi</a></div>
                </li>
                <li>
                  <div class="thumb-content"><a href="/admin">Admin panel</a></div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="widget no-box">
              <h5 class="widget-title">Začnite prodajati<span></span></h5>
              <p>Objavite vaš prvi oglas.</p>
              <a class="btn" href="/listings/new" target="_blank">Objavi!</a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">

            <div class="widget no-box">
              <h5 class="widget-title">Kontaktirajte nas<span></span></h5>

              <p><a href="mailto:info@domain.com" title="glorythemes">lovro.napotnik@scv.si</a></p>
              <ul class="social-footer2">
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Lovro Napotnik © 2021. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</html>